<ion-content padding>
  <div class="login">
    <div text-center margin-bottom>
      <img class="imagenPrincipal" width="150" src="assets/imgs/logouneg.jpg" alt="">
    </div>
    <form [formGroup]="login" (ngSubmit)="logForm()" margin-top>
      <ion-item class="fondoItem">
        <ion-label>
          <ion-icon name="mail"></ion-icon>
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item class="fondoItem">
        <ion-label>
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <button margin-top ion-button type="submit" [disabled]="!login.valid" full round>Login</button>
    </form>
  </div>
</ion-content>