page-login {
    *{
        color: white !important;
    }
    .scroll-content{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b679e+0,1e6899+30,16748e+64,7db9e8+100 */
background: #3b679e; /* Old browsers */
background: -moz-linear-gradient(top, #3b679e 0%, #1e6899 30%, #16748e 64%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #3b679e 0%,#1e6899 30%,#16748e 64%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #3b679e 0%,#1e6899 30%,#16748e 64%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
    }
    .login{
       margin-top: 35%;
    }

    ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: #444;
        fill: #222;
      }

      .imagenPrincipal{
          border-radius: 15px;
      }
      ion-label{
          font-size: 2rem !important;
      }
      .fondoItem{
        background: #3b679e; /* Old browsers */
        background: -moz-linear-gradient(top, #3b679e 0%, #1e6899 30%, #16748e 64%, #7db9e8 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #3b679e 0%,#1e6899 30%,#16748e 64%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #3b679e 0%,#1e6899 30%,#16748e 64%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b679e', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
      }
}
