page-home {
    .buscador{
        border-radius: 15px;
        background:#2c539e;
    }

    ion-spinner * {
        width: 56px;
        height: 56px;
        stroke: #444;
        fill: #222;
      }
}
