<ion-header>

  <ion-navbar color="primary" text-center>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Eventos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item color="secondary">
    <ion-label>Buscar por: </ion-label>
    <ion-select [(ngModel)]="buscador">
      <ion-option value="evento">Evento</ion-option>
      <ion-option value="persona">Persona</ion-option>
    </ion-select>
  </ion-item>

  <div *ngIf="buscador=='evento'">
    <ion-searchbar class="buscador" type="text" placeholder="Buscar Evento" [(ngModel)]="myInput" (ionInput)="onInput2($event)">
    </ion-searchbar>
  </div>

  <div *ngIf="buscador=='persona'">
    <ion-searchbar class="buscador" type="text" placeholder="Buscar Persona" [(ngModel)]="myInput" (ionInput)="onInput($event)">
    </ion-searchbar>
  </div>


  <ion-list *ngIf="buscador!='evento' && buscador!='persona'">
    <div *ngIf="!items" text-center>
      <h3>Desplegando las actividades</h3>
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <ion-item-sliding #item *ngFor="let act of items" (click)="irActividad(act)">
      <ion-item>
        <ion-card-title>{{act.description}}</ion-card-title>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="success" (click)="aceptar(item)">Aceptar</button>
        <button ion-button color="warning" (click)="modificar(item)">Mofidicar Fecha</button>
        <button ion-button color="danger" (click)="unread(item)">Ignorar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="buscador=='evento'">
    <div *ngIf="!items" text-center>
      <h3>Desplegando las actividades</h3>
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <ion-item-sliding #item *ngFor="let act of items" (click)="irActividad(act)">
      <ion-item>
        <ion-card-title>{{act.description}}</ion-card-title>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="success" (click)="aceptar(item)">Aceptar</button>
        <button ion-button color="warning" (click)="modificar(item)">Mofidicar Fecha</button>
        <button ion-button color="danger" (click)="unread(item)">Ignorar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



  <ion-list *ngIf="buscador=='persona'">
    <div *ngIf="!users" text-center>
      <h3>Esperando por las Personas</h3>
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
    <ion-item-sliding #item *ngFor="let act of users" (click)="irActividad2(act)">
      <ion-item>
        <p>{{act.name}}</p>
        <p>{{act.email}}</p>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="success" (click)="aceptar(item)">Aceptar</button>
        <button ion-button color="warning" (click)="modificar(item)">Mofidicar Fecha</button>
        <button ion-button color="danger" (click)="unread(item)">Ignorar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>



</ion-content>