<!--
  Generated template for the ActividadDetallesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar text-center color="primary">
    <ion-title>Detalles</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <img src="assets/imgs/logouneg.jpg" />
    <ion-card-content>
      <ion-card-title margin-bottom>
        <b>Titulo:</b> {{descripcionActividad}}
      </ion-card-title>
      <p>
        <b>Lugar:</b> {{places.location}}, {{places.description}}
      </p>
      <p>
        <b>Tematica:</b> {{tematica}}
      </p>
      <p>
        <b>Tipo de Actividad:</b> {{tipoActividad}}
      </p>
      <p>
        <b>Inicio de Actividad:</b> {{inicioActividad | date}}
      </p>
      <p>
        <b>Fin de Actividad:</b> {{finActividad | date }}
      </p>



      <h3 margin-top style="font-size:1.7rem;">Responsable de la Actividad</h3>
      <ion-card>
        <ion-card-content no-padding>
          <p><b>Email:</b> {{responsable.email}}</p>
          <p><b>Nombre:</b> {{responsable.name}}</p>
          <p><b>Telefono:</b> {{responsable.phone}}</p>
        </ion-card-content>
      </ion-card>

      <h3 margin-top style="font-size:1.7rem;">Arbitros</h3>
      <p *ngFor="let refs of referis; let i=index;">
        <ion-card>
          <ion-card-content no-padding>
            <ion-card-title>{{i+1}}</ion-card-title>
            <p><b>Email:</b> {{refs.referi.email}}</p>
            <p><b>Nombre:</b> {{refs.referi.name}}</p>
            <p><b>Telefono:</b> {{refs.referi.phone}}</p>
          </ion-card-content>
        </ion-card>
      </p>
    </ion-card-content>

  </ion-card>


</ion-content>