<!--
  Generated template for the PonenciasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar text-center color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ponencias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h2 margin>Listado de Ponencias</h2>
  <div *ngIf="!actividades" text-center class="spinner">
    <h3>Esperando por el listado de Ponencias</h3>
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <ion-list>
    <ion-item-sliding #item *ngFor="let act of actividades" (click)="irActividad(act)">
      <ion-item *ngIf="act.type=='Presentation'">
        <ion-card-title>{{act.description}}</ion-card-title>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="success" (click)="aceptar(item)">Aceptar</button>
        <button ion-button color="warning" (click)="modificar(item)">Mofidicar Fecha</button>
        <button ion-button color="danger" (click)="unread(item)">Ignorar</button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>