<!--
  Generated template for the UsuariosDetallesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" text-center>
    <ion-title>Usuario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>


  <ion-list>
    <ion-item>
      <ion-card>
        <ion-card-content>
          <ion-card-title>
            <p>Nombre: {{actividades.name}}</p>
            <p>Email: {{actividades.email}}</p>
            <p *ngFor="let act of actividades.roles;">
              Rol: {{actividades.name}}
            </p>
          </ion-card-title>
          <h4>Actividades: </h4>
          <p *ngFor="let act of actividades.activities; let i=index;">
            {{i+1}}. {{act.description}}
          </p>
          <h4>Evaluaciones: </h4>
          <p *ngFor="let act of actividades.evaluations; let i=index;">
            {{i+1}}. {{act.description}}
          </p>
          <h4>Presentaciones: </h4>
          <p *ngFor="let act of actividades.presentations; let i=index;">
            {{i+1}}. {{act.description}}
          </p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>